:root {
    --primary: #fff;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
  }
  

  
  .btn--wide {
    padding: 12px 64px;
    font-size: 20px;
    color: #fff;
    background-color: #276afb;
  }
  
  
  
  .btn--wide:hover {
    color: #fff;
    background-color: #f00946;
    transition: all 0.2s ease-out;
  }
  
 